<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CinemaMyanmar</title>

  <!-- Custom fonts for this template-->
  <link href="/vendorAdmin/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->

  <link href="/cssAdmin/sb-admin-2.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



  </head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color:#3F474D;">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3"></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">


      <!-- Heading -->
      <div class="sidebar-heading">
        Addons
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item active">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-folder"></i>
          <span>Pages</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="py-2 collapse-inner rounded" style="background-color:white;">
            <a class="collapse-item" href="/allvideos" style="">All Videos</a>
            <a class="collapse-item" href="/popular" style="">Popular Videos</a>
          </div>
        </div>
      </li>




      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand topbar static-top shadow" style="background-color:#343A40;">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <h1 class="h3 mb-2 font-weight-bold" style="font-family: 'Lobster', cursive;color:white;font-size:2rem;"><%= name %></h1>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">



            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter"><%= commentDB.length %></span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown" style="background-color:#E5E0E4;">
                <h6 class="dropdown-header" style="background-color:#343A40;font-family: Serif;font-size:1rem;">
                  Dead Link Reports
                </h6>

                          <div class="notiBar" style="max-height:400px !important;overflow-y: scroll;width:auto;">
                                <% var i = 0; %>
                                <% commentDB.forEach((function (noti) { %>

                                  <% if(noti.comment.length > 100){ %>
                                <a class="dropdown-item d-flex align-items-center" href="/noti/<%= noti._id %>">
                                  <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                      <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                  </div>
                                  <div>
                                    <div style="color:black;opacity:0.6;"><%= noti.date %></div>
                                    <span class="font-weight-bold"><%= noti.comment.substring(0, 100) %> <span style="cursor: pointer;color:grey;" onMouseOver="this.style.color=black" onMouseOut="this.style.color=grey"> ...Read More</span></span>
                                  </div>
                                </a>
                                <%}else{ %>
                                  <a class="dropdown-item d-flex align-items-center" href="/noti/<%= noti._id %>">
                                    <div class="mr-3">
                                      <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                      </div>
                                    </div>
                                    <div>
                                      <div style="color:black;opacity:0.6;"><%= noti.date %></div>
                                      <span class="font-weight-bold"><%= noti.comment%></span>
                                    </div>
                                  </a>

                                <%}%>
                                <% })); %>
                              </div>

                <a class="dropdown-item text-center" href="/allalerts" style="background-color:grey;font-family: Serif;font-size:1rem;color:black;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='black'">Show All Alerts</a>
              </div>
            </li>


            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline  small" style="font-family:Serif;font-size:1rem;"><%= name %></span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown" style="background: rgb(129,136,150);
background: linear-gradient(90deg, rgba(129,136,150,1) 0%, rgba(121,142,145,1) 50%, rgba(129,115,144,1) 100%);padding:20px;">
                <a class="dropdown-item" href="/profile" style="font-family:Serif;font-weight:bold;">
                  <i class="fas fa-user fa-sm fa-fw mr-2 "></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#cacheModal" style="font-family:Serif;font-weight:bold;">
                  <i class="far fa-trash-alt"></i>
                  Clear Cache
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal" style="font-family:Serif;font-weight:bold;">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 "></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->
