  <%- include('partials/homeHeader'); %>

  <div class="page-wrapper" style="background-color: #25262C;border-radius: 10px;">
    <!--page-wrapper-->
    <div class="post-slider">
      <!--post-slider-->
      <h1 class="slider-title" style="font-family: 'Lobster', cursive;color: white;">Trending Videos</h1>

      <div class="hidePN">
        <i class="fas fa-chevron-left prev"></i>
        <i class="fas fa-chevron-right next"></i>
      </div>

      <div class="post-wrapper">
        <!--post-wrapper-->
        <% if(homePo !== null){ %>
        <% homePo.forEach((function (vid) { %>

        <div class="post mb-4">
          <a href="/select/<%= vid.name %>">
            <!-- label-->
            <div class="label">
              <!-- label-->
              <img class="image slider-image" src="/uploads/<%= vid.image %>" alt="">
              <div class="middle"><i class="far fa-play-circle playicon"></i></div>
              <div class="bottom-left">
                <p class="rating"><%= vid.rating %></p>
              </div>
            </div> <!-- label-->
            <p class="movieName" style="font-size:0.8em;display:none;"> <%= vid.name %> </p>
          </a>
        </div> <!-- label-->

        <% })); %>
        <% } %>

      </div>
      <!--post-wrapper-->
    </div>
    <!--post-slider-->
  </div>
  <!--page-wrapper-->


  <div class="container">
    <div class="row">




      <div class="col-lg-8">


        <div class="row gallery-items container" style="background-color: #25262C;border-radius:20px;margin: auto;">
          <% if(noMatch !== null){ %>
              <h5 style="color:white;margin:auto;margin-bottom:20px;"><%= noMatch %></h5>
            <% } %>

            <% if(homeVideo !== null){ %>
          <% homeVideo.forEach((function (vid) { %>


          <div class="col-3 col-lg-2 col-md-3 col-sm-3 item">
            <a href="/select/<%= vid.name %>">
              <div class="label">
                <!-- label-->
                <div class="card" >
                  <!-- card-->
                  <img class="card-img-top image" src="/uploads/<%= vid.image %>" alt="">
                </div> <!-- card-->
                <div class="middle"><i class="far fa-play-circle playicon"></i></div>
                <div class="bottom-left">
                  <p class="rating" style="font-size:0.8em;"><%= vid.rating %></p>
                </div>
              </div> <!-- label-->
              <p class="movieName"> <%= vid.name %> </p>
            </a>
          </div>


          <% })); %>
          <% } %>




        </div><!-- /.row   &#9733; &#9733; &#9733; &#9733; &#9734;-->

        <div class="pagination">

          <i class="fas fa-angle-double-left prevv"></i>
          <p class="middle-text">showing page <span class="page-num"></span> of <span class="pageNum"></span></p>
          <i class="fas fa-angle-double-right nextt"></i>
        </div>



          <%- include('partials/homeFooter'); %>
