<%- include('partials/reviewHead'); %>


<div class="main-wrapper">

  <!-- Start Feature Area -->
  <section class="featured-area pt-50 pb-100">
    <div class="container">
      <div class="row">


        <!-- carousel -->
        <div class="col-md-6">
          <div class="feature-right">

            <img class="d-block w-100 shadow" src="/uploads/<%= img %>" alt="First slide" style="max-width:900px; max-height:600px !important;object-fit: cover;border-radius:10px;">
          </div>
        </div>




        <div class="col-md-6">
          <div class="feature-left">
            <h2>
              Review for <br>
              <span><%= name %></span>
            </h2>
            <p>
              <%= review %>

            </p>
            <button class="btn btn-secondary primary-btn hover d-inline-flex align-items-center"><span class="mr-10">DOWNLOAD</span><span class="lnr lnr-arrow-right"></span></button>
          </div>
        </div>




      </div>
    </div>
  </section>
</div>

<div class="main-wrapper">
<div class="row">
  <div class="col-md-9">
    <div class="container mt-1">
      <div class="row gallery-items container" style="background-color: #F1EDF3;border-radius:20px;padding:25px 10px 0px 10px;margin: 0px">
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v8.0" nonce="etGLuoxY"></script>
        <div class="fb-comments" data-href="http://localhost:3000/select/<%= name %>" data-numposts="5" data-width="500"></div>
      </div>
    </div>
  </div>
  <div class="col-md-3 d-none d-sm-none d-md-block d-lg-block">
    <div class="container mt-1">
      <div class="card my-1" style="border-radius: 5px;">
        <h5 class="card-header" style="background-color: #2E2E2E;color:white;">ဆက်သွယ်ရန်<br> <br>09689882829</h5>
        <div class="card-body" style="height:200px;font-weight:bold;">
          <h4 style="text-align:center;">ဤနေရာတွင် <br> <br> ကြော်ငြာများ <br> <br> ထည့်သွင်းနိုင်သည်</h4>

        </div>
      </div>
    </div>
  </div>

</div>

</div>






</body>

</html>
